
<app-currency-select class="w-2/3"></app-currency-select>
<!-- <div class="form-section">
          <div class="form-equal">
            <label>Amount</label>
            <input type="text" class="input" />
          </div>
          <div class="form-equal">
            <label>From</label>
            <input type="text" class="input" />
          </div>
        </div>
        <div class="form-section">
          <div class="form-equal">
            <label>Targeted currency</label>
            <input type="text" class="input" />
          </div>
          <div class="form-equal">
            <label>Targeted currency</label>
            <input type="text" class="input" />
          </div>
        </div>
        <div class="form-section">
          <div class="form-equal">
            <input type="text" class="input" />
          </div>
          <div class="form-equal">
            <input type="text" class="input" />
          </div>
        </div>
        <div class="convert-compare">
          <button class="big-btn">compare</button>
        </div> -->