<form>
    <div class="flex justify-between gap-3">
        <div class="form-group w-1/3">
            <label>Amount</label>
            <input type="text" placeholder="Amount" />
        </div>

        <app-currency-select class="w-2/3"></app-currency-select>

    </div>
    <div class="flex justify-between gap-3">

        <app-currency-select [selectedCurrency]="'USD'" class="w-2/3"></app-currency-select>

        <div class="form-group w-1/3">
            <label>Amount</label>
            <input type="text" placeholder="Amount" />
        </div>
    </div>
    <div class="mt-8">
        <button type="submit">Convert</button>
    </div>
</form>