<div class="form mb-16">
  <div class="btns mb-6">
    <button (click)="tabState='CONVERT'" class="btn" [ngClass]="{'active' : tabState==='CONVERT'}">Convert</button>
    <button (click)="tabState='COMPARE'" class="btn" [ngClass]="{'active' : tabState==='COMPARE'}">Compare</button>
  </div>

  <app-convert *ngIf="tabState==='CONVERT'"></app-convert>
  <app-compare (onAction)="checkForChanges($event)" *ngIf="tabState==='COMPARE'"></app-compare>

</div>

<live-exchange-rates #exchangeRates></live-exchange-rates>