<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Currency</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <div class="con-icon"></div>
        <button class="menu-btn">
          <div class="line"></div>
          <div class="line"></div>
        </button>
      </div>
      <div class="form">
        <div class="btns">
          <button class="btn">Convert</button>
          <button class="btn">Compare</button>
        </div>
        <div class="form-section">
          <div class="form-amount">
            <h4 class="h4-label">Amount</h4>
            <input type="text" class="small-input" />
          </div>
          <div class="form-to-from">
            <h4 class="h4-label">From</h4>
            <input type="text" class="large-input" />
          </div>
        </div>
        <div class="form-section">
          <div class="form-to-from">
            <h4 class="h4-label">To</h4>
            <input type="text" class="large-input" />
          </div>
          <div class="form-amount">
            <h4 class="h4-label">Amount</h4>
            <input type="text" class="small-input" />
          </div>
        </div>
        <div class="convert-compare">
          <button class="big-btn">Convert</button>
        </div>
      </div>
    </div>
  </body>
</html>

<app-convert></app-convert>
